.banner{
    background-image: url('images/batikpuscreen.jpg'); 
    background-size: 100% auto;
    position: absolute;
    top: 0px;
}
.logo{
    width: 80%;
}
.menu{
    font-size:24px !important; 
    font-family:'roboto'; 
    font-weight:bold;
}

/* SEARCH BAR  */
.cari{
    position: absolute;
    right:5px;
    top:5%;
}
.search-bar {
    display: flex;
    margin-right: 5px;
}
.search-bar input,
.search-btn, 
.search-btn:before, 
.search-btn:after {
	transition: all 0.25s ease-out;
}
.search-bar input,
.search-btn {
	width: 3em;
	height: 3em;
}
.search-bar input:invalid:not(:focus),
.search-btn {
	cursor: pointer;
}
.search-bar,
.search-bar input:focus,
.search-bar input:valid  {
	width: 80%;
}
.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
	outline: transparent;
}
.search-bar {
	margin: auto;
	padding: 2px;
	justify-content: center;
	max-width: 15em;
}
.search-bar input {
	background: transparent;
	border-radius: 1.5em;
	box-shadow: 0 0 0 0.4em #171717 inset;
	padding: 0.75em;
	transform: translate(0.5em,0.5em) scale(0.5);
	transform-origin: 100% 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.search-bar input::-webkit-search-decoration {
	-webkit-appearance: none;
}
.search-bar input:focus,
.search-bar input:valid {
	background: #fff;
	border-radius: 0.375em 0 0 0.375em;
	box-shadow: 0 0 0 0.1em #d9d9d9 inset;
	transform: scale(1);
}
.search-btn {
	background: #171717;
	border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
	padding: 0.75em;
	position: relative;
	transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
	transform-origin: 0 50%;
}
.search-btn:before, 
.search-btn:after {
	content: "";
	display: block;
	opacity: 0;
	position: absolute;
}
.search-btn:before {
	border-radius: 50%;
	box-shadow: 0 0 0 0.2em #f1f1f1 inset;
	top: 0.75em;
	left: 0.75em;
	width: 1.2em;
	height: 1.2em;
}
.search-btn:after {
	background: #f1f1f1;
	border-radius: 0 0.25em 0.25em 0;
	top: 51%;
	left: 51%;
	width: 0.75em;
	height: 0.25em;
	transform: translate(0.2em,0) rotate(45deg);
	transform-origin: 0 50%;
}
.search-btn span {
	display: inline-block;
	overflow: hidden;
	width: 1px;
	height: 1px;
}

/* Active state */
.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
	background: #2762f3;
	border-radius: 0 0.375em 0.375em 0;
	transform: scale(1);
}
.search-bar input:focus + .search-btn:before, 
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before, 
.search-bar input:valid + .search-btn:after {
	opacity: 1;
}
.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
	background: #0c48db;
}
.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
	transform: translateY(1px);
}

@media screen and (prefers-color-scheme: dark) {
	body, input {
		color: #f1f1f1;
	}
	body {
		background: #171717;
	}
	.search-bar input {
		box-shadow: 0 0 0 0.4em #f1f1f1 inset;
	}
	.search-bar input:focus,
	.search-bar input:valid {
		background: #3d3d3d;
		box-shadow: 0 0 0 0.1em #3d3d3d inset;
	}
	.search-btn {
		background: #f1f1f1;
	}
}

/* PIMPINAN */
.pimpinan{
    background-color: #eca013;
    margin-bottom: 50px;
}
.pimpinan img{
    margin-left: 10%;
    height: 500px;
    width: auto;
}
.quote{
    position: absolute;
    top: 100px;
}
.animated-border-quote {
    display:inline-block;
    margin:1em;
    max-width:90em;
    overflow:hidden;
}
.animated-border-quote p{
    font-size: x-large;
    font-weight: bold;
}
    blockquote {
      background-color:#fff;
      border: solid 2px #757575;
      display: inline-block;
      margin: 0;
      padding: 1em;
      position: relative;}
      blockquote:before {
        animation:clockwise 30s infinite linear;
        background-color: #fff;
        bottom:10%;
        content: "";
        left: 0;
        opacity:.5;
        position: absolute;
        right: 0;
        top:10%;
      }
      blockquote:after {
        animation:counter 30s infinite linear;
        background-color: #fff;
        bottom:10%;
        content: "";
        left: 0;
        opacity:.5;
        position: absolute;
        right: 0;
        top:10%;
      }
      cite {
        display: block;
        font-style: italic;
        text-align: right;}
        cite:before {
          content: "- ";
        }
       * {
        position: relative;
        z-index: 1;
      }
  
  @keyframes clockwise {
    0% {
      transform:rotate(0);
    }
    100% {
      transform:rotate(360deg);
    }
  }
  
  @keyframes counter {
    0% {
      transform:rotate(0);
    }
    100% {
      transform:rotate(-360deg);
    }
  }

.agenda{
    text-align: center;
    margin-top: 35px;
}
.agenda h1{
    display: inline-block;
  font-family: 'Gabriela', serif;
  color: #FFF;
  font-size: 3em;
  border-radius: 20px;
  background: #0c48db;
  padding: 0.5em 0.2em 0.8em 0.5em;
}
.agenda p{
    margin: 10px;
    font-size: 2em;
    text-align: left;
}
.tanggal{
    border-bottom: 2px solid black;
    padding-bottom: 0.5em;
}
.break{
    max-height: 100px;
    background-color: #0c48db;
    border-bottom: 2px solid black;
    margin: 50px 0px;
}
.ini-berita {
    padding: 50px 80px 10px 80px;
    font-size: 32px;
    margin-bottom: 30px ;
}
.org{
    background-color: #f7bb16;
    padding: 5px;
    width: 5px;
}
.blu{
    background-color: #3816f7;
    padding: 5px;
    width: 5px;
    margin-right: 5px;
}
.ber{
    padding: 40px 80px 10px 80px;
    font-size: 32px;
    /* margin: 20px; */
}
.ber a{
    color: #eca013 !important;
    font-size: 24px;
}
.ber .content {
    position: absolute;
    bottom: 0px;
    background: rgb(7, 11, 248); /* Fallback color */
    background: rgba(55, 57, 177, 0.5); /* Black background with 0.5 opacity */
    border-radius: 50px;
    color: #f1f1f1;
    width: 100%;
    padding: 20px 20px 15px 20px;
  }
.ber .garis{
    position: absolute;
    bottom: 0px;
    background: #eca013; /* Fallback color */
    /* background: rgba(214, 213, 210, 0.5); Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 10px;
  }
.w3container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .w3container img {vertical-align: middle;}
.kanan {
    position: relative;
    max-width: 800px;
    max-height: 400px;
    margin: 0 auto;
    }
  
    .kanan img {vertical-align: middle;}

.bawah {
    position: relative;
    max-width: 400px;
    max-height: 330px;
    margin: 0 auto;
    }
      
    .bawah img {vertical-align: middle;}
    .bawah a{
        color: #eca013 !important;
        font-size: 20px;
    }
    .bawah p{
        font-size: 28px;
    }
.artikel1{
    background-color: #eca013;
}
.artikel1 img{
    width: 100%;
    margin: 0px 0px 20px 0px;
}
.arti{
  width: 430px;
  margin: 26px;
  padding: 20px;
}
.arti a{
  font-size: 18px;
  color: #757575;
}.arti p{
  font-size: 24px;
}
.ini-berita iframe{
  width: 100%;
  height: 500px;
}
.bidang h1{
  font-size: 100px;
  color: #2762f3;
  margin-bottom: 100px;
}
.berbidang{
  width: 100%;
  background: rgba(214, 213, 210, 0.5);
  border-radius: 10px;
  padding: 20px 0px;
}
.berbidang h1{
  font-size: 48px;
}.berbidang a{
  font-size: 24px;
  color: #171717;
}.berbidang p{
  font-size: 20px;
}.berbidang a .but{
    background-color: rgb(236, 243, 237); /* Green */
    border: none;
    color: rgb(244, 248, 18);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px !important;
    margin: 20px 10px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .but {
    background-color: rgb(32, 46, 241); 
    color: rgb(245, 223, 29) !important; 
    border-radius: 30px;
    padding: 20px 100px;
  }
  
  .but:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
.app{
  background-color: #3816f7;
  color: #eca013;
}.app h1{
  font-size: 48px;
}.app .kiri{
  border-right: 3px solid #eca013;
  margin-right: 5px;
}.app .kanan{
  border-left: 3px solid #eca013;
  padding-left: 100px;
  color: #d9d9d9;
  font-size: 24px;
}.app .kanan a{
  color: #d9d9d9;
  font-size: 24px;
}
.subs{
  position: absolute;
  bottom: -50px;
  left: 100px;
  right: 100px;
  width: auto;
  height: 100px;
  background-color: #fdfdfc;
  border-radius: 30px;
  color: #2e0a83;
}.subs h1{
  position: absolute;
  top: 30%;
  left: 50px;
}.subs .inp{
  position: absolute;
  right: 50px;
  top: 20%;
  float: right;
  font-size: 24px;
}.inp .tex{
  border: none;
  border-bottom: 3px solid #2e0a83;
}.tex:focus{
  border: none;
  background: #eca013;
}.inp .butt{
  background: rgb(7, 11, 248);
  color: #d9d9d9;
  padding: 10px 50px;
  border-radius: 30px;
}
.footer{
  background-color: #2e0a83;
  padding: 500px;
  width: 100%;
  z-index: -1;
}
